{% extends "base.html.twig" %}
{% block title %}
Accueil
{% endblock %}
{% block body %}

<h1>Nos produits phares</h1>
<div class="row">
    {% for product in products %}
    <div class="col">
        <div class="card">
            <img src="{{product.mainPicture}}" class="img-fluid" alt="image du  produit">
            <div class="card-body">
                <div class="card-title">{{product.name}}</div>
                <p class="card-text">{{product.shortDescription}}</p>
                <a href="" class="btn btn-info">En savoir plus</a>
                <a href="" class="btn btn-warning">Ajouter au panier</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<h2>Un service irréprochable</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis iusto tenetur deserunt harum ad
    sint consequatur! Unde eius alias quibusdam amet? Illo, repellendus eaque aspernatur in aliquid repellat porro?
</p>
<div class="row">
    {% include "shared/_assurance.html.twig" with{
    'color':'primary',
    'icone':'truck',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo sit asperiores saepe. Animi,
    quaerat!'
    } %}
    {% include "shared/_assurance.html.twig" with{
    'color':'success',
    'icone':'check',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo sit asperiores saepe. Animi,
    quaerat!'
    } %}
    {% include "shared/_assurance.html.twig" with{
    'color':'warning',
    'icone':'lock',
    'text': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo sit asperiores saepe. Animi,
    quaerat!'
    } %}
</div>

{% endblock %}